{% extends 'encyclopedia/layout.html' %}

{% block title %}
    {% if edit %}
        Editing {{ entryTitile }}
    {% else %}
        New entry
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Editing {{ entryTitile }}</h1>
    {% else %}
        <h1>New Entry</h1>
    {% endif %}

    {% if existing %}
        <div class="alert alert-danger" role="alert">
            This entry alredy exist, to view or edit <a href="/wiki/{{ entry }}" class="alert-link">Click Here</a>
        </div>
    {% endif %}
    <br>
    <div class="form-group">
        <form action="{% url 'newEntry' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    </div>
{% endblock %}